.halvtreds_flex_container{
    display: flex;
    justify-content: center;
}

/* 1950'er: flexbox venstre */
#halvtreds_V_flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* 1950'erne: styling af billeder + ikoner */
#halvtreds_img_krop{
    height: 950px;
    padding-bottom: 40px;
    margin-left: -40px;
    margin-top: 50px;
}

#halvtreds_img_filmrulle{
    height: 250px;
    width: 250px;
    transform: rotate(350deg);
    margin-left: 130px;
    margin-top: -50px;
}

#halvtreds_img_ms{
    width: 150px;
    height: 275px;
    margin-top: 50px;
    margin-right: 50px;
    transform: rotate(10deg);
}

#halvtreds_img_lp{
    width: 250px;
    height: 250px;
}

/* 1950'er: flexbox højre */
#halvtreds_H_flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
}

#halvtreds_img_ikonerH{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}




