/* ---------------------- 
-------- 2010'erne --------
---------------------- */
.tierKvinde{
    position: absolute;
    left: 58%;
    bottom: 15%;
}

.halvfjerdsKvinde img{
    max-width: 80%;

}

.tier_ideal_p{
    margin-right: 55%;
}

.tier_ideal_2{
    margin: 20% 40% 10% 10%;
}

.instagram_ikon{
    position: absolute;
    left: 50%;
    bottom: 80%;
    transform: rotate(10deg);
}

.instagram_ikon img{
    width: 80%;
}

.kasket{
    position: absolute;
    left: 15%;
    top: 30%;
}

.kasket img{
    width: 60%;
}

.fersken{
    position: absolute;
    left: 35%;
    top: 72%;
    transform: rotate(10deg);
}

.fersken img{
    width: 120%;
}