/* ---------- 
----------INTRO ---------
---------------------- */
.karakter-intro {
    position: relative;
    width: 100%;
  }
  
  .video-wrapper {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .video-wrapper video {
    width: 100%;
    height: auto;
  }

  .play-knap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 30%;
    background-color: var(--lilla2);
    border-radius: 50%;
    cursor: pointer;
    padding: 40%;
  }

  #playKnap img{
    position: absolute;
    top: 30%;
    left: 30%;
  }

  .intro-tekst h1{
    position: absolute;
    top: 80%;
    left: 20%;
    font-size: 4em;
    opacity: 1;
    transition: opacity 1s ease;
  }
  
  .intro-tekst.fade-out h1{
    opacity: 0;
  }

  .velkomst-tekst p {
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 2.3em;
    opacity: 0;
    transition: opacity 1s ease-in;
    margin-left: 30%;
    margin-right: 2%;
  }
  
  .velkomst-tekst.fade-in p {
    opacity: 1;
  }

