/* ---------- 
----------INTRO ---------
---------------------- */
.karakter-intro {
    position: relative;
    width: 100%;
  }
  
  .video-wrapper {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .video-wrapper video {
    width: 100%;
    height: auto;
    margin-top: 10%;
  }

  .play-knap {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 30%;
    background-color: var(--lilla2);
    border-radius: 50%;
    cursor: pointer;
    padding: 40%;
  }

  #playKnap img{
    position: absolute;
    top: 30%;
    left: 30%;
  }

  .intro-tekst h1{
    position: absolute;
    top: 80%;
    left: 20%;
    font-size: 4em;
    opacity: 1;
    transition: opacity 1s ease;
  }
  
  .intro-tekst.fade-out h1{
    opacity: 0;
  }

  .velkomst-tekst p {
    position: absolute;
    top: 2%;
    font-size: 2.3em;
    opacity: 0;
    transition: opacity 1s ease-in;
    text-align: center;
  }
  
  .velkomst-tekst.fade-in p {
    opacity: 1;
  }

  #videre_knap{
    border-radius: 50%;
    padding: 10%;
    position: absolute;
    bottom: 50%;
    left: 60%;
    font-size: 2em;
    background-color: var(--gul2);
    border: none;
  }

  .videre_intro{
    opacity: 0;
    transition: opacity 1s ease-in;
  }

   .videre_intro.fade-in{
    opacity: 1;
   }