/*-----------------------
------ Menu.html---------
------------------------*/

/*- Flex box rundt om menuen-*/
.flex-container {
    display: flex;
    background-color: purple;
    justify-content: center;

  }

  