/*-----------------------
------ Menu.html---------
------------------------*/

/*- Flex box rundt om menuen-*/
.flex-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 250px;
  }

   /* ----------
      Flexboxe
   ------------*/
  /* Øverste flexbox (70'erne) */
   .menu_top_flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   }

   /* miderste flexbox (fuld midterstykke) */
   #menu_midt_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   }

   /* miderste flexbox venstre (50'erne + renæssancen) */
   #menu_midt_V_flex{
    display: flex;
    flex-direction: column;
   }

   #menu_midt_H_flex{
    display: flex;
    flex-direction: column;
   }

  .menu_gul{
    border: none;
    border-radius: 100px;
    background-color: var(--gul2);
    box-shadow: 4px 4px var(--gul1);
    width: 190px;
    height: 190px;
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-left: 420px;
  }

  .menu_lilla{
    border: none;
    border-radius: 100px;
    background-color: var(--lilla2);
    box-shadow: 4px 4px var(--lilla1);
    width: 190px;
    height: 190px;
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-top: 90px;
    margin: 50px;
  }

  .menu_orange{
    border: none;
    border-radius: 100px;
    background-color: var(--orange2);
    box-shadow: 4px 4px var(--orange1);
    width: 190px;
    height: 190px;
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-top: 80px;
    margin: 50px;
  }

  /* Character billede */
  #menu_hoved_cirkel{
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 250px;
    margin-top: 200px;
  }

  #menu_billede_hoved{
    border-radius: 100px;
    background-color: white;
    width: 200px;
    height: 220px;
    margin-top: 20px;
    margin-left: 27px;
  }

  #menu_tekst{
    font-size: 30px;
    margin-top: 60px;
    margin-left: 250px;
    margin-right: 10px;
  }

  /* tekst/link på buttons */ 
  a{
    text-decoration: none;
    color: black;
  }



  