/* ---------- 
---------- Outro ---------
---------------------- */
.karakter-intro_outro {
    position: absolute;
    width: 100%;
  }
  
  .video-wrapper-outro {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 10%;
  }
  
  .video-wrapper video {
    width: 100%;
    height: auto;
  }

  #demo_outro{
    position: absolute;
    text-align: center;
    font-size: 2em;
    z-index: 1;
    margin: 5% 10% 10% 10%;
  }
