/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* FARVER */
:root {
    --blaa1: rgba(3, 25, 64, 1);
    --blaa2: rgba(18, 51, 111, 1);
    --blaa3: rgba(60, 97, 166, 1);
    --blaa4: rgba(153, 180, 227, 1);

    --orange1: rgba(208, 58, 19, 1);
    --orange2: rgba(227, 89, 52, 1);
    --orange3: rgba(241, 126, 95, 1);
    --orange4: rgba(255, 169, 146, 1);

    --gul1: rgba(212, 151, 15, 1);
    --gul2: rgba(223, 168, 46, 1);
    --gul3: rgba(225, 183, 91, 1);
    --gul4: rgba(236, 208, 146, 1);

    --lilla1: rgba(104, 76, 205, 1);
    --lilla2: rgba(136, 118, 201, 1);
    --lilla3: rgba(161, 144, 220, 1);
    --lilla4: rgba(194, 183, 232, 1);

}

/* BASAL STYLING */
body {
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 5em;
    margin: 0;
    font-weight: 700;
    margin-bottom: 25px;
}

h2 {
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.5em;
}

h3 {
    font-size: 1.4em;
    line-height: 1.3em;
    font-weight: 600;
}

p {
    font-size: 1.2em;
    line-height: 1.9em;
    font-weight: 500;
}

.tablet_container {
    width: 1024px;
    height: 1529px;
}

main { /* Alt undtagen footer får margins */
    margin: 0 4%;
    padding: 3% 0 0;
}

/* ---------------------- 
--------- FOOTER --------
---------------------- */
.footer {
    width: 100%;
    height: 110px;
    position: fixed;
    bottom: 0;
    background-color: rgba(26, 26, 26, 1);
    border-top: solid white 3px;
    display: flex;
    justify-content: space-between;
}

.footer_start { /* Tilbage til start-knap */
    width: 7rem;
    margin: 0 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hjem, .start, .pil {
    font-size: 2.7em;
    color: white;
}

.nav_boks { /* Flexboks til navigation */
    display: flex;
    gap: 3.5rem;
}

/* Styling af 'frem og tilbage'-knapper */
.nav_knap {
    border: 0;
    background-color: transparent;
}

.pil_venstre, .pil_hojre, .footer_hjem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styling af flag */
.sprog_flag {
    width: 8rem;
    display: flex;
    gap: .8rem;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 2%;
    justify-content: flex-end;
}

.flag {
    width: 3.5rem;
    border: 3px solid white;
    border-radius: 10px;
}



/* ---------------------- 
-------- NUTIDEN --------
---------------------- */


/* OPSÆTNING AF FLEXBOKS */
.nutid_container {
    display: flex;
    gap: 2%;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.nutid_flex1 {
    display: flex;
    gap: 5%;
    flex-direction: column;
}

.nutid_flex1_afstemning {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}


/* OPSÆTNING AF FLEXBOKS */
.nutid_flex2 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: flex-start;
    align-items: center;
}

.nutid_flex2_diagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.video_emilie_h2 {
    width: 75%;
    margin-bottom: .4rem;
} 

/* CONTAINER TIL AFSTEMNING  */
.afstemning_container {
    width: 450px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#afstemning_foer {
    width: 100%;
    background-color: var(--gul1);
    border-radius: 20px;
    box-shadow: 5px 5px 0px 5px var(--gul3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    text-align: center;
    padding: 50px 0;
}

#afstemning_efter {
    width: 100%;
    height: 100%;
    background-color: var(--gul1);
    border-radius: 20px;
    box-shadow: 5px 5px 0px 5px var(--gul3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    text-align: center;
    display: none;
}

.afstemning_knap {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: white;
    background-color: var(--lilla2);
    padding: 15px 30px;
    border: 0;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0px rgb(64, 64, 64);
}

.afstemning_div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.knap_valg {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: white;
    background-color: var(--lilla2);
    padding: 13px 20px;
    border: 0;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0px rgb(64, 64, 64);
}

/* AFSTEMNING MODAL */
#modal_afstemning {
    display: none; /* Modalen vises ikke fra start */
    position: fixed;
    z-index: 1;
    padding-top: 35%; /* Placering af modal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: none; /* Ingen scroll */
    background-color: rgba(0,0,0,0.4); /* Opaciteten nedsat */
}

/* Modal indhold */
.modal_indhold {
    background-color: black;
    margin: auto;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  /* Lukkeknap */
  #modal_luk {
    color: white;
    font-size: 1.7em;
    font-weight: 600;
    padding: 2%;
    border: 2px solid white;
    border-radius: 100%;
    background-color: black;
    margin-bottom: -40px;
}


/* STYLING AF IKONER */
.nutid_flex2_ikoner {
    display: flex;
    justify-content: space-evenly;
    gap: 6rem;
}

.nutid_ikon_tlf {
    width: auto;
    height: 130px;
    transform: rotate(-30deg)
}

.nutid_ikon {
    width: auto;
    height: 150px;
}

.tiktok {
    transform: rotate(20deg);
}


/* OPSÆTNING AF VIDEO + MODAL */

.video_emilie {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

