body {
    /* RESET */
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* BASAL STYLING */
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 5em;
    margin: 0;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
    line-height: 1.7em;
}

.tablet_container {
    width: 1024px;
    height: 1529px;
}
/*-----------------------
------ Menu.html---------
------------------------*/

/*- Flex box rundt om menuen-*/
.flex-container {
    display: flex;
    background-color: purple;
    justify-content: center;
  }

  

/* ---------------------- 
--------- FOOTER --------
---------------------- */
.ren_footer {
    width: 100%;
    height: 110px;
    position: fixed;
    bottom: 0;
    background-color: rgba(26, 26, 26, 1);
    border-top: solid white 3px;
}

/* ---------------------- 
------ RENÆSSANCEN ------
---------------------- */
/* .ren_grid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 71px 71px 71px 71px 100px 100px 100px; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 0px;
    grid-auto-flow: row;
    grid-template-areas: 
    ". . . . . . . . . . retur"
    "tekst1 tekst1 tekst1 tekst1 . . . . krop krop krop"
    "tekst1 tekst1 tekst1 tekst1 . ikon1 ikon1 . krop krop krop"
    "tekst1 tekst1 tekst1 tekst1 . ikon1 ikon1 . krop krop krop"
    ". . . . . . . . krop krop krop"
    ". tekst2 tekst2 tekst2 . . . . krop krop krop"
    ". tekst2 tekst2 tekst2 . . . . krop krop krop"
    ". tekst2 tekst2 tekst2 . ikon3 ikon3 . krop krop krop"
    ". . ikon2 ikon2 . ikon3 ikon3 . . . ."
    ". . ikon2 ikon2 . . . . . . .";
}
    
    .retur { grid-area: 1 / 11 / 2 / 12;}

    .ren_tiden { grid-area: 5 / 1 / 2 / 5; }
    
    .ren_krop { grid-area: 2 / 9 / 9 / 12; }
    
    .ren_ideal { grid-area: 6 / 2 / 9 / 5; }
    
    .ren_lut { grid-area: 5 / 6 / 3 / 8; }
    
    .ren_fjer { grid-area: 9 / 3 / 11 / 5; }
    
    .ren_penge { grid-area: 8 / 6 / 10 / 8; } */

/* HEADER */
.retur {
    width: 50px;
    height: 50px;
    background-color: aqua;
}

/* MAIN */
main {
    margin: 0 20px;
}

/* OPSÆTNING AF FLEXBOX */
.ren_flex {
    display: flex;
    gap: 4rem;
    width: 984px;
}

.ren_flex_tekst {
    display: flex;
    flex-direction: column;
}

/* STYLING AF KROP-BILLEDE */
.ren_krop {
    padding: 50px 0;
}
.ren_krop img {
    height: 950px;
    width: auto;
}

/* STYLING AF IKONER */
.ikon {
    width: 200px;
    height: auto;
}


/* ---------------------- 
-------- NUTIDEN --------
---------------------- */

